@model FashionStore.Models.CartItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CartItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cart.CartToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.CartToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductVariant.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductVariant.SKU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
